{% extends "pages/blog-base.html" %}
{% load static i18n humanize crispy_forms_tags %}

{% block description %}
{{post.content|truncatewords:20}}
{% endblock description %}

{% block title %}
{{post.title|upper}} | {{block.super|upper}}
{% endblock title %}

{% block keywords %}
his royal highness, Amananaowei Famous Eseduwo, Eseduwo, Amananaowei, Angalabiri King, Ebiangala King, Community,
Bayelsa, {{post.title}}
{% endblock keywords %}

{% block ogdesc %}
{{post.content|truncatewords:20}}
{% endblock ogdesc %}

{% block cano %}
{% url 'blog:detail' post.slug %}
{% endblock cano %}

{% block ogurl %}
{% url 'blog:detail' post.slug %}
{% endblock ogurl %}

{% block twitdesc %}
{{post.content|truncatewords:20}}
{% endblock twitdesc %}

{% block body-class %}
class="stretched search-overlay"
{% endblock body-class%}

{% block css %}
{% include 'includes/pages/blog-css.html' %}
{% endblock css %}


{% block content %}
<!-- Page Title
		============================================= -->
<main id="content">
  <section class="content-wrap pt-5" style="overflow: visible;">
    <div class="container">
      <div class="single-post mb-0">
        <!-- Single Post
						============================================= -->
        <div class="entry">

          <div class="row justify-content-center">
            <div class="col-lg-6">
              <!-- Entry Title
									============================================= -->
              <div class="entry-title">
                <div class="entry-categories"><a href="demo-blog-categories.html">Coronavirus Update - World</a></div>
                <h2>{{post.title}}</h2>
              </div><!-- .entry-title end -->
            </div>
          </div>

          <!-- Entry Meta
							============================================= -->
          <div class="d-flex justify-content-center mt-2">
            <div class="entry-meta">
              <ul>
                <li>{{post.pub_date|naturalday}}</li>
                <li>By <a href="{{post.author.get_absolute_url}}">{{post.author}}</a></li>
              </ul>
            </div>
          </div><!-- .entry-meta end -->

          <!-- Entry Image
							============================================= -->
          {% if post.image_set %}
          <div class="entry-image mt-5">
            <div class="fslider" data-arrows="false" data-lightbox="gallery">
              <div class="flexslider">
                <div class="slider-wrap">
                  {% for image in post.image_set.all%}
                  <div class="slide"><a href="{{image.image.url}}" data-lightbox="image"><img
                        class="rounded img-responsive" src="{{image.image.url}}" alt="{{post.title}} image" width="100%"
                        height="500px"></a></div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div><!-- .entry-image end -->
          {% elif post.videos %}
          <div class="entry-image mb-3">
            <a href="#">
              <video poster="images/videos/explore-poster.jpg" preload="auto" loop autoplay muted
                style="display: block; width: 100%;">
                <source src='{{post.videos.url}}'
                  type='application/mp4, video/mp4, video/mpeg, video/webm, audio/webm' />
              </video>
            </a>
          </div>
          {% endif %}


          <!-- Entry Content
							============================================= -->
          <div class="entry-content">

            <div class="row">

              <div class="col-lg-2 media-content" data-animate="fadeIn">
                <div class="entry-title text-left">
                  <h4>{{post.content|safe|truncatewords:20}}</h4>
                </div>
                <!-- Post Single - Share
										============================================= -->
                <div>
                  <h5 class="mb-2">Share this Post:</h5>
                  <div>
                    <a href="#" class="social-icon si-small si-rounded si-colored si-facebook">
                      <i class="icon-facebook"></i>
                      <i class="icon-facebook"></i>
                    </a>
                    <a href="#" class="social-icon si-small si-rounded si-colored ml-1 si-twitter">
                      <i class="icon-twitter"></i>
                      <i class="icon-twitter"></i>
                    </a>
                    <a href="#" class="social-icon si-small si-rounded si-colored ml-1 si-pinterest">
                      <i class="icon-pinterest"></i>
                      <i class="icon-pinterest"></i>
                    </a>
                    <a href="#" class="social-icon si-small si-rounded si-colored ml-1 si-rss">
                      <i class="icon-rss"></i>
                      <i class="icon-rss"></i>
                    </a>
                  </div>
                </div><!-- Post Single - Share End -->
              </div>

              <div class="col-lg-1"></div>

              <div class="text-content col-lg-6">

                {{post.content|safe}}

                <div class="line"></div>

                <div class="clear"></div>
                <!-- Comment Form
											============================================= -->
                <div id="respond">


                  {% if request.user.is_authenticated %}
                  <h3>Leave a <span>Comment {{ request.user.first_name }}</span></h3>

                  <form id="comment-form" class="row mb-0" action="." method="POST">
                    {% crispy form %}
                  </form>
                  {% else %}
                  <p>You must login to comment</p>
                  {% endif %}

                </div><!-- #respond end -->


                <!-- Comments
										============================================= -->
                <div id="comments">

                  <h3 id="comments-title"><span>{{ comments.count }}</span> Comments</h3>

                  <!-- Comments List
											============================================= -->
                  <ol class="commentlist">
                    <li class="comment even thread-even depth-1" id="li-comment-1">

                      {% for comment in comments %}
                      <div id="comment-1" class="comment-wrap mb-4">
                        <div class="comment-meta">

                          <div class="comment-author vcard">

                            <span class="comment-avatar">
                              <img alt='' src='https://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60'
                                class='avatar avatar-60 photo avatar-default' height='60' width='60' /></span>

                          </div>

                        </div>
                        <div class="comment-content">

                          <div class="comment-author">{{comment.author}}<span><a href="#"
                                title="Permalink to this comment">{{comment.created|naturalday}}</a></span></div>

                          <p>{{comment.text}}</p>

                          <a class='comment-reply-link' href='#'><i class="icon-reply"></i></a>

                        </div>
                        <div class="clear"></div>
                      </div>
                      {% endfor %}



                      <ul class='children'>

                        <li class="comment byuser comment-author-_smcl_admin odd alt depth-2" id="li-comment-3">
                          {% if new_comment %}
                          <div class="alert alert-success" role="alert">
                            Your comment is awaiting moderation
                          </div>
                          {% else %}
                          <div id="comment-3" class="comment-wrap">

                            <form action="." method="POST" id="sub-comment">
                              {% csrf_token %}
                              {% crispy form %}
                            </form>

                            <div class="clear"></div>

                          </div>
                          {% endif %}

                        </li>

                      </ul>

                    </li>

                  </ol><!-- .commentlist end -->

                  <div class="clear"></div>


                </div><!-- #comments end -->

              </div>
              <!-- Post Single - Content End -->
            </div>

          </div>
        </div><!-- .entry end -->

        <h3 class="mb-0">Related Posts</h3>

        <div class="row posts-md">
          <div class="col-lg-3 col-sm-6">
            {% for post in post.get_related_posts_by_tags %}
            <article class="entry">
              {% if post.image_set %}
              <div class="entry-image mb-3">
                <div class="fslider" data-arrows="false" data-lightbox="gallery">
                  <div class="flexslider">
                    <div class="slider-wrap">
                      {% for image in post.image_set.all%}
                      <div class="slide"><a href="{{image.image.url}}" data-lightbox="gallery-item"
                          style="background: url('{{image.image.url}}') no-repeat center bottom; background-size: cover; height: 278px;"></a>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              {% elif post.videos %}
              <div class="entry-image mb-3">
                <a href="#">
                  <video poster="images/videos/explore-poster.jpg" preload="auto" loop autoplay muted
                    style="display: block; width: 100%;">
                    <source src='{{post.videos.url}}'
                      type='application/mp4, video/mp4, video/mpeg, video/webm, audio/webm' />
                  </video>
                </a>
              </div>
              {% endif %}
              <div class="entry-title title-sm text-left">
                <div class="entry-categories"><a href="{% url 'blog:list' %}">
                    {% for tag in post.tags.all %}{{tag.title}}{% endfor %}</a></div>
                <h3><a href="{{post.get_absolute_url}}" class="color-underline stretched-link">{{post.title}}</a>
                </h3>
              </div>
              <div class="entry-meta">
                <div class="container">
                  <ul>
                    <li><a href="#">{{post.pub_date|naturalday}}</a></li>
                  </ul>
                </div>
              </div>
            </article>
            {% endfor %}
          </div>
        </div>



      </div>
    </div>
  </section>
</main>
{% endblock content %}

{% block inline_javascript %}
<script>
  $(document).ready(function () {
    $("#comment-form").submit(function (e) {
      e.preventDefault();

      var serializedData = $(this).serialize();
      $ajax({
        type: "POST",
        url: "{% url 'blog:detail' post.slug %}",
        success: function (response) {
          $("#comment-form")[0].reset();
        },
        error: function (response) { console.log(response) }
      });
    });
    $("#sub-comment").submit(function (e) {
      e.preventDefault();

      var serializedData = $(this).serialize();
      $ajax({
        type: "POST",
        url: "{% url 'blog:detail' post.slug %}",
        success: function (response) {
          $("#sub-comment")[0].reset();
        },
        error: function (response) { console.log(response) }
      });
    });

  });
</script>
{% endblock inline_javascript %}
