{% extends "pages/blog-base.html" %}
{% load static i18n humanize %}

{% block description %}
{% trans "Get the latest news report from angalabiri" %}
{% endblock description %}

{% block title %}
{% trans "News" %} | {{block.super|upper}}
{% endblock title %}

{% block keywords %}
his royal highness, Amananaowei Famous Eseduwo, Eseduwo, Amananaowei, Angalabiri King, Ebiangala King, Community,
Bayelsa
{% endblock keywords %}

{% block ogdesc %}
{% trans "Get the latest news report from angalabiri" %}
{% endblock ogdesc %}

{% block cano %}
{% url 'blog:list' %}
{% endblock cano %}

{% block ogurl %}
{% url 'blog:list' %}
{% endblock ogurl %}

{% block twitdesc %}
{% trans "Get the latest news report from angalabiri" %}
{% endblock twitdesc %}

{% block body-class %}
class="stretched search-overlay"
{% endblock body-class%}

{% block css %}
{% include 'includes/pages/blog-css.html' %}
{% endblock css %}


{% block content %}
<!-- Page Title
		============================================= -->
<section id="page-title" class="page-title-center">

  <div class="container">
    <h1>NEWS</h1>
    <span>Get upto date information on angalabiri, its surrounding communities and latest development.</span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Posts</li>
    </ol>
  </div>

</section><!-- #page-title end -->


<main id="content">
  <section class="content-wrap">
    <div class="container clearfix">
      <div class="row gutter-40 col-mb-80">

                                <!-- Sidebar
                ============================================= -->
                <div class="sidebar col-lg-3">
                  <div class="sidebar-widgets-wrap">

                      <div class="widget widget-filter-links">

                          <h4>Select Category</h4>
                          <ul class="custom-filter pl-2" data-container="#shop" data-active-class="active-filter">
                              <li class="widget-filter-reset active-filter"><a href="#" data-filter="*">Clear</a></li>
                              {% for tag in tags %}
                              <li><a href="#" data-filter=".sf-{{tag.title|lower}}">{{tag.title|upper}}</a></li>
                              {% endfor %}
                          </ul>

                      </div>


                  </div>
              </div><!-- .sidebar end -->


        <div class="postcontent col-lg-9 mt-5 mt-lg-0 order-lg-last">
          <div id="shop" class="row col-mb-50 posts md" data-layout="fitRows">
            {% for post in posts %}
            <div class="product col-md-4  col-sm-6 {% for tag in post.tags.all %}sf-{{tag.title|lower}}{% endfor %}">
              <article class="entry mb-1 clearfix">
                <div class="entry-user">
                  <h4><a href="{% if post.url %}{{post.url}}{% else %}{{post.get_absolute_url}}{% endif %}">{{post.title}}</a>.<br><span
                      style="font-size:10px; font-weight:400;"><i></i>{{post.author}}</span></h4>
                </div>
                {% if post.image_set %}
                <div class="entry-image mb-3">
                  <div class="fslider" data-arrows="false" data-lightbox="gallery">
                    <div class="flexslider">
                      <div class="slider-wrap">
                        {% for image in post.image_set.all%}
                        <div class="slide"><a href="{{image.image.url}}" data-lightbox="gallery-item"
                            style="background: url('{{image.image.url}}') no-repeat center bottom; background-size: cover; height: 278px;"></a>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                {% elif post.videos %}
                <div class="entry-image mb-3">
                  <a href="#">
                    <video poster="images/videos/explore-poster.jpg" preload="auto" loop autoplay muted
                      style="display: block; width: 100%;">
                      <source src='{{post.videos.url}}'
                        type='application/mp4, video/mp4, video/mpeg, video/webm, audio/webm' />
                    </video>
                  </a>
                </div>
                {% endif %}
                <div class="entry-title">
                  <h3><a href="#">{{post.title}}</a></h3>
                </div>
                <div class="entry-content">
                  <p>
                    {{post.content|truncatewords:20|safe}}
                  </p>
                </div>
                <div class="container">
                  <div class="entry-meta no-separator nohover">
                    <ul class="justify-content-between mx-0">
                      <li><i class="icon-calendar2"></i> {{post.pub_date|naturalday}}</li>
                      {% for tag in post.tags.all %}<li>{{tag.title|upper}}</li>{% endfor %}
                    </ul>
                  </div>
                  <div class="entry-meta no-separator hover">
                    <ul class="mx-0">
                      <li><a href="{{post.get_absolute_url}}">View More &rarr;</a></li>
                    </ul>
                  </div>
                </div>

              </article>
            </div>
            {% empty %}
            <div class="col-md-12">
              <article class="entry">
                No Posts Yet
              </article>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}


{% block inline_javascript %}
<script>
  jQuery(document).ready( function($){
    $(window).on( 'pluginIsotopeReady', function(){
      $('#shop').isotope({
        transitionDuration: '0.65s',
        getSortData: {
          name: '.product-title',
          price_lh: function( itemElem ) {
            if( $(itemElem).find('.product-price').find('ins').length > 0 ) {
              var price = $(itemElem).find('.product-price ins').text();
            } else {
              var price = $(itemElem).find('.product-price').text();
            }

            priceNum = price.split("$");

            return parseFloat( priceNum[1] );
          },
          price_hl: function( itemElem ) {
            if( $(itemElem).find('.product-price').find('ins').length > 0 ) {
              var price = $(itemElem).find('.product-price ins').text();
            } else {
              var price = $(itemElem).find('.product-price').text();
            }

            priceNum = price.split("$");

            return parseFloat( priceNum[1] );
          }
        },
        sortAscending: {
          name: true,
          price_lh: true,
          price_hl: false
        }
      });

      $('.custom-filter:not(.no-count)').children('li:not(.widget-filter-reset)').each( function(){
        var element = $(this),
          elementFilter = element.children('a').attr('data-filter'),
          elementFilterContainer = element.parents('.custom-filter').attr('data-container');

        elementFilterCount = Number( jQuery(elementFilterContainer).find( elementFilter ).length );

        element.append('<span>'+ elementFilterCount +'</span>');

      });

      $('.shop-sorting li').click( function() {
        $('.shop-sorting').find('li').removeClass( 'active-filter' );
        $(this).addClass( 'active-filter' );
        var sortByValue = $(this).find('a').attr('data-sort-by');
        $('#shop').isotope({ sortBy: sortByValue });
        return false;
      });
    });
  });
</script>
{% endblock inline_javascript %}
