{% load static i18n compress%}
{% spaceless %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}Angalabiri{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{% block description %}{% endblock description %}">
  <meta name="author" content="David Jeremiah">
  <meta name="keywords"
    content="ebiangala, angalabiri, angalabiri community, angalabiri in sagbama, angalabiri nigeria, bayelsa sagbama, akuo akuo akuo, ebiangala federated community, federated community in bayelsa,, community in bayelsa, major cities in bayelsa, sagbama city {% block keywords %}{% endblock keywords %}" />
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{% block ogdesc %}{% endblock ogdesc %}
  ">
  <link rel="canonical" href="{% block cano %}{% endblock cano %}">
  <meta property="og:url" content="{% block ogurl %}{% endblock ogurl %}">
  <meta property=" og:site_name" content="Angalabiri Community">
  <meta property="og:image" content="{% static 'images/logo@2x.png' %}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@ebiangala">
  <meta name="twitter:creator" content="@ebiangala">
  <meta name="twitter:title" content="Angalabiri Community">
  <meta name="twitter:description" content="{% block twitdesc %}{% endblock twitdesc %}">
  <meta name="twitter:image" content="{% static 'images/logo@2x.png' %}">
  <meta name="twitter:image:alt" content="Ebiangala Logo">

  <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

  {% block css %}

  <!-- Latest compiled and minified Bootstrap CSS -->
  <link
    href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:wght@300;400;500;600;700;900&display=swap"
    rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:wght@300;400;500;600;700;900&display=swap"
      rel="stylesheet" type="text/css" />
  </noscript>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="preload" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
      type="text/css" />
  </noscript>


  <!-- Your stuff: Third-party CSS libraries go here -->
  {% endblock %}
  <!-- Le javascript
    ================================================== -->
  {# Placed at the top of the document so pages load faster with defer #}
  {% block javascript %}

  <!-- Your stuff: Third-party javascript libraries go here -->


  <!-- place project specific Javascript in this file -->
  {% endblock javascript %}

  {{form.media}}
</head>

<body {% block body-class %}{% endblock body-class%}>

  {% block maincontent %}
  {% endblock maincontent %}

  {% block inline_javascript %}
  {# Script tags with only code, no src (defer by default) #}
  {% endblock inline_javascript %}
</body>

</html>
{% endspaceless %}
