/* ----------------------------------------------------------------
	Canvas: Modern Blog
-----------------------------------------------------------------*/
#content {
  margin: 0;
  width: 100%; }

#header.sticky-header.transparent-header #header-wrap:not(.not-dark) {
  background-color: transparent !important;
  -webkit-box-shadow: none;
          box-shadow: none; }

@media (min-width: 992px) {
  #header {
    border-bottom: 0; }
  .sticky-header #header-wrap #primary-menu-trigger {
    opacity: 0;
    -webkit-transition: transform .2s ease, opacity .2s ease;
    -webkit-transition: opacity .2s ease, -webkit-transform .2s ease;
    transition: opacity .2s ease, -webkit-transform .2s ease;
    transition: transform .2s ease, opacity .2s ease;
    transition: transform .2s ease, opacity .2s ease, -webkit-transform .2s ease;
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    z-index: -2; } }

.entry {
  background-color: #ffffff;
  padding: 0;
  vertical-align: top;
  border-bottom: 0;
  border-radius: 4px;
  -webkit-transform-origin: 50% 50% 0px;
  transform-origin: 50% 50% 0px;
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.5, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.5, 1); }

.entry:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  -webkit-transform: translate(0, -8px);
  transform: translate(0, -8px); }

.entry-title,
.entry-meta,
.entry-content {
  padding: 0 20px; }

.entry-title h3 {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 12px; }

.entry-title a {
  color: #333; }

.entry-content p {
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 22px !important; }

.entry-meta {
  font-size: 13px;
  font-size: 0.8125rem;
  text-transform: uppercase;
  border-top: 1px solid #E9EBEE;
  padding: 15px 0;
  margin: 15px 15px 0; }

.dark .entry-meta {
  border-top-color: #444; }

.entry-meta li {
  margin-left: 0;
  margin-right: 0; }

.entry::after {
  display: none; }

.entry-meta li::before {
  content: none; }

.entry-meta.nohover,
.entry:hover .entry-meta.hover {
  display: block; }

.entry-meta.hover,
.entry:hover .entry-meta.nohover {
  display: none; }

.entry-user {
  padding: 20px; }

.entry-user img {
  display: inline-block;
  height: 48px;
  width: 48px;
  border-radius: 100%;
  background-color: white; }

.entry-user h4 {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 8px;
  vertical-align: middle;
  font-size: 16px;
  line-height: 1.25; }

.entry-user h4 span {
  display: block;
  font-size: 11px;
  color: #AAA !important;
  text-transform: lowercase;
  font-weight: 300; }

.entry-image .social-icon {
  display: inline-block;
  float: none; }

.slide .slide-caption h3,
.slide .slide-caption p {
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform .05s ease-out;
  transition: -webkit-transform .05s ease-out;
  transition: transform .05s ease-out;
  transition: transform .05s ease-out, -webkit-transform .05s ease-out;
  -webkit-backface-visibility: hidden; }

.slide.flex-active-slide .slide-caption h3,
.slide.flex-active-slide .slide-caption p {
  opacity: 1;
  -webkit-transition: transform 1s, opacity 1.05s;
  -webkit-transition: opacity 1.05s, -webkit-transform 1s;
  transition: opacity 1.05s, -webkit-transform 1s;
  transition: transform 1s, opacity 1.05s;
  transition: transform 1s, opacity 1.05s, -webkit-transform 1s;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-backface-visibility: hidden; }

.slide.flex-active-slide .slide-caption p {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-backface-visibility: hidden; }

.border-bottom {
  border-bottom-color: #E9EBEE !important; }

.instagram-photos a:hover {
  opacity: 0.85; }

.instagram-button .button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.5, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.5, 1); }

.instagram-button .button:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: translate3d(-50%, -58%, 0);
  transform: translate3d(-50%, -58%, 0); }
