{% extends "base.html" %}
{% load static i18n %}

{% block title %}
{{block.super}}
{% endblock title %}

{% block description %}
{% endblock description %}

{% block ogdesc %}
{% endblock ogdesc %}

{% block cano %}
{% endblock cano %}

{% block ogurl %}
{% endblock ogurl %}

{% block twitdesc %}
{% endblock twitdesc %}

{% block body-class %}
{% endblock body-class%}

{% block keywords %}
{% endblock keywords %}

{% block maincontent %}

<div class="clearfix" id="wrapper">
  {% include 'includes/pages/nav.html' %}

  {% if messages %}
  {% for message in messages %}
  <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}<button type="button"
      class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
  {% endfor %}
  {% endif %}

  {% block content %}
  {% endblock content %}
  {% include 'includes/pages/footer.html' %}
  {% include 'includes/pages/email.html' %}
</div> <!-- /wrapper -->
{% include 'includes/pages/totop.html' %}

{% block modal %}{% endblock modal %}

{% endblock maincontent %}

{% block inline_javascript %}
<!-- Footer Inline Scripts
	============================================= -->
<script>
  jQuery(document).ready(function ($) {
    var elementParent = $('.floating-contact-wrap');
    $('.floating-contact-btn, .btn-contact').off('click').on('click', function (e) {
      elementParent.toggleClass('active',);
      e.preventDefault(e);
    });
  });

  var cal = $('#calendar').calendario({
    onDayClick: function ($el, $contentEl, dateProperties) {

      for (var key in dateProperties) {
        console.log(key + ' = ' + dateProperties[key]);
      }

    },
    caldata: canvasEvents
  }),
    $month = $('#calendar-month').html(cal.getMonthName()),
    $year = $('#calendar-year').html(cal.getYear());

  $('#calendar-next').on('click', function () {
    cal.gotoNextMonth(updateMonthYear);
  });
  $('#calendar-prev').on('click', function () {
    cal.gotoPreviousMonth(updateMonthYear);
  });
  $('#calendar-current').on('click', function () {
    cal.gotoNow(updateMonthYear);
  });

  function updateMonthYear() {
    $month.html(cal.getMonthName());
    $year.html(cal.getYear());
  };

</script>
{% endblock inline_javascript %}


{% block javascript %}
{% include 'includes/pages/js.html' %}
{% endblock javascript %}
