{% extends "pages/base.html" %}
{% load static i18n %}

{% block description %}
{% trans "{{cause.content|truncatewords:30|safe}}" %}
{% endblock description %}

{% block title %}
{% trans "{{cause.title}} " %} | {{block.super|upper}}
{% endblock title %}

{% block ogdesc %}
{% trans "{{cause.content|truncatewords:30|safe}}" %}
{% endblock ogdesc %}

{% block cano %}
{% url 'cause.get_absolute_url' %}
{% endblock cano %}

{% block ogurl %}
{% url 'cause.get_absolute_url' %}
{% endblock ogurl %}

{% block twitdesc %}
{% trans "{{cause.content|truncatewords:30|safe}}" %}
{% endblock twitdesc %}

{% block body-class %}
class="stretched"
{% endblock body-class%}

{% block keywords %}
{{cause.title}}
{% endblock keywords %}
