{% extends "pages/base.html" %}
{% load static i18n %}

{% block description %}
{% trans "His Royal Higness, Amananaowei Famous Eseduwo" %}
{% endblock description %}

{% block title %}
{% trans "The King " %} | {{block.super|upper}}
{% endblock title %}

{% block keywords %}
his royal highness, Amananaowei Famous Eseduwo, Eseduwo, Amananaowei, Angalabiri King, Ebiangala King, Community,
Bayelsa
{% endblock keywords %}

{% block ogdesc %}
{% trans "His Royal Higness, Amananaowei Famous Eseduwo; Biography of the king" %}
{% endblock ogdesc %}

{% block cano %}
{% url 'hrh' %}
{% endblock cano %}

{% block ogurl %}
{% url 'hrh' %}
{% endblock ogurl %}

{% block twitdesc %}
{% trans "His Royal Higness, Amananaowei Famous Eseduwo" %}
{% endblock twitdesc %}

{% block body-class %}
class="stretched"
{% endblock body-class%}

{% block css %}
{% include 'includes/pages/css.html' %}
{% endblock css %}


{% block content %}
<section id="page-title" class="page-title-dark page-title-parallax page-title-center" style="
background: linear-gradient(to bottom, rgba(57, 48, 6, 0.7), rgba(57, 48, 6, 0.7)), url('{% static 'images/angalabiri/king/akou2.jpg' %}') no-repeat center center;
background-size: cover;
padding: 140px 0;">

  <div class="container clearfix">
    <h1 class="mb-3">The Paramount Ruler</h1>
    <span>Angalabiri Federated Community</span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">The King</li>
    </ol>
  </div>

</section>

<main class="container">
  <div class="content-wrap py-5">
    <div class="row bottommargin-md">
      <div class="col-md-5">
        <div class="collage-image fl-wrap">
          <!-- <div class="collage-image-title" data-scrollax="properties: { translateY: '150px' }">akou II</div> -->
          <img src="{% static 'images/angalabiri/king/akou2.jpg' %}" class="respimg" alt="">
        </div>
      </div>
      <div class="col-md-7">
        <div class="main-about fl-wrap">
          <h2>HRH (Dr) FAMOUS SAYEREGHA ESEDUWO</h2>
          <h5>Director (Planning, Research & Statistics)</h5>
          <p>With renowned accomplishments within the Nigerian Public Sector, <b>HRH (Dr) FAMOUS SAYEREGHA ESEDUWO</b>
            has under his belt <b>several Academic/Professional Laurels.</b> He has been in the <b>Nigerian Public
              Domain over the years as Local Government Chairman, Director-General Arts & Culture, Secretary, Bayelsa
              State House of Assembly Service Commission. Dr. Eseduwo is currently a Federal Director. He was also
              Honoured with the highest traditional title of his people as the Amananaowei of Angalabiri.</b></p>
          <p>HRH (Dr) FAMOUS SAYEREGHA ESEDUWO, is known for his exemplary character and brilliant contributions to
            national and international Development.</p>
        </div>
      </div>

    </div>
    <section class="row bottommargin-md">
      <div class="col-md-5"></div>
      <div class="col-md-7">
        <div class="accordion">

          <div class="accordion-header">
            <div class="accordion-icon">
              <i class="accordion-closed icon-line-minus"></i>
              <i class="accordion-open icon-line-check"></i>
            </div>
            <div class="accordion-title">
              Personal Data of <span>His Royal Highness</span>
            </div>
          </div>
          <!-- accordion-->
          <div class="accordion-content clearfix">
            <div class="accordion-header">
              <div class="accordion-icon">
                <i class="accordion-closed icon-line-minus"></i>
                <i class="accordion-open icon-line-check"></i>
              </div>
              <div class="accordion-title">
              SURNAME
              </div>
            </div>
            <div class="accordion-content clearfix">
              <p>ESEDUWO</p>
            </div>
            <div class="accordion-header" href="#">
              OTHER NAMES
            </div>
            <div class="accordion-inner">
              <p>FAMOUS SAYEREGHA</p>
            </div>
            <a class="toggle" href="#">DATE OF BIRTH</a>
            <div class="accordion-inner">
              <p>15/01/1964</p>
            </div>
            <a class="toggle" href="#">MARITUAL STATUS</a>
            <div class="accordion-inner">
              <p>Married</p>
            </div>
            <a class="toggle" href="#">LGA OF ORIGIN </a>
            <div class="accordion-inner">
              <p>SAGBAMA</p>
            </div>
            <a class="toggle" href="#"> SENATORIAL DISTRICT</a>
            <div class="accordion-inner">
              <p>BAYELSA-WEST</p>
            </div>
            <a class="toggle" href="#">STATE OF ORIGIN </a>
            <div class="accordion-inner">
              <p>BAYELSA</p>
            </div>
            <a class="toggle" href="#">NATIONALITY </a>
            <div class="accordion-inner">
              <p>NIGERIAN</p>
            </div>
            <a class="toggle" href="#">CONTACT ADDRESS</a>
            <div class="accordion-inner">
              <!-- /*<p>PLOT 61, ZONE A, APO RESETTLEMENT, FCT, ABUJA</p>  -->
            </div>
            <a class="toggle" href="#">EMAIL</a>
            <div class="accordion-inner">
              <p>eseduwofamous@yahoo.com</p>
            </div>
          </div>
          <!-- accordion end -->
          <div class="accordion-header"><div class="accordion-icon">
                      <i class="accordion-closed icon-line-minus"></i>
                      <i class="accordion-open icon-line-check"></i>
                    </div>
            <div class="accordion-title">Institutions Attended by <span>His Royal Highness</span></div>
          </div>
          <!-- accordion-->
          <div class="accordion mar-top">
            <a class="accordion-header" href="#">University of Nigeria (UNN)</a>
            <div class="accordion-inner">
              <p>2007 - 2012</p>
            </div>
            <a class="toggle" href="#">University of Nigeria (UNN)</a>
            <div class="accordion-inner">
              <p>2006 - 2008</p>
            </div>
            <a class="toggle" href="#">Delta State University, Abraka (DELSU)</a>
            <div class="accordion-inner">
              <p>2003 - 2005</p>
            </div>
            <a class="toggle" href="#">University of Nigeria (UNN)</a>
            <div class="accordion-inner">
              <p>2001 - 2002</p>
            </div>
            <a class="toggle" href="#">University of Nigeria (UNN)</a>
            <div class="accordion-inner">
              <p>1996 - 1998</p>
            </div>
            <a class="toggle" href="#">University of Nigeria (UNN)</a>
            <div class="accordion-inner">
              <p>1993 - 1995</p>
            </div>
            <a class="toggle" href="#">Government College, Bomadi</a>
            <div class="accordion-inner">
              <p>1981 - 1986</p>
            </div>
            <a class="toggle" href="#">State School Isampou</a>
            <div class="accordion-inner">
              <p>1975 - 1980</p>
            </div>
          </div>
          <div class="accordion-header"><div class="accordion-icon">
                      <i class="accordion-closed icon-line-minus"></i>
                      <i class="accordion-open icon-line-check"></i>
                    </div>
            <div class="accordion-title">Academic/Professional Qualifications Obtained/Dates By <span>His Royal Highness</span></div>
          </div>
          <!-- accordion-->
          <div class="accordion mar-top">
            <a class="accordion-header" href="#">Doctor of Philosophy (PhD)</a>
            <div class="accordion-inner">
              <p>Political Science (2012)</p>
            </div>
            <a class="toggle" href="#">Master of Science (M.Sc)</a>
            <div class="accordion-inner">
              <p>Political Science (2008)</p>
            </div>
            <a class="toggle" href="#">Master of Public Administration (MPA)</a>
            <div class="accordion-inner">
              <p>Political Economy (2005)</p>
            </div>
            <a class="toggle" href="#">Post-Graduate Diploma (PGD)</a>
            <div class="accordion-inner">
              <p>Public Admin & Local Govt Studies (2002)</p>
            </div>
            <a class="toggle" href="#">NYSC Exemption Certificate (1999)</a>
            <a class="toggle" href="#">Higher National Diploma (HND)</a>
            <div class="accordion-inner">
              <p>Public Admin & Local Govt Studies (1998)</p>
            </div>
            <a class="toggle" href="#">University Diploma (UD) </a>
            <div class="accordion-inner">
              <p>Public Admin & Local Govt Studies (1995)</p>
            </div>
            <a class="toggle" href="#">West African School Certificate (WASC 1986)</a>
            <a class="toggle" href="#">First School Leaving Certificate (FSLC 1980)</a>
          </div>
          <div class="accordion-header"><div class="accordion-icon">
                      <i class="accordion-closed icon-line-minus"></i>
                      <i class="accordion-open icon-line-check"></i>
                    </div>
            <div class="accordion-title">Work Experience In The Federal Civil/Public Service</div>
          </div>
          <!-- accordion-->
          <div class="accordion mar-top">
            <a class="accordion-header" href="#">Federal Ministry of Works & Housing, Mabushi, Abuja.</a>
            <div class="accordion-inner">
              <p>Presently Director, Planning, Research & Statistics (21/09/2017 to Date)</p>
            </div>
            <a class="toggle" href="#">Office Of The Head of Civil Service Of The Federation (OHCSF).</a>
            <div class="accordion-inner">
              <p>Director, Planning, Analytics & Monitoring (18/01/2016 – 21/09/2017)</p>
            </div>
            <a class="toggle" href="#">Federal Civil Service Commission (FCSC) </a>
            <div class="accordion-inner">
              <p>Director, Recruitment & Appointment (08/01/2014 – 18/01/2016)</p>
            </div>
            <a class="toggle" href="#">Office Of The Head of Civil Service Of The Federation (OHCSF) </a>
            <div class="accordion-inner">
              <p>Director, Leadership Mgt. & Succession Planning (30/05/2013 – 08/01/2014)</p>
            </div>
            <a class="toggle" href="#">Federal Civil Service </a>
            <div class="accordion-inner">
              <p>Director (Administration). (01/01/13 to Date) </p>
            </div>
          </div>
          <div class="accordion-header"><div class="accordion-icon">
                      <i class="accordion-closed icon-line-minus"></i>
                      <i class="accordion-open icon-line-check"></i>
                    </div>
            <div class="accordion-title">Some Critical Committees/Boards Served/Serving In The Federal Civil/Public Service</div>
          </div>
          <!-- accordion-->
          <div class="accordion mar-top">
            <a class="accordion-header" href="#">Some Critical Committees/Boards Served/Serving In The Federal
              Civil/Public Service</a>
            <div class="accordion-inner">
              <p>Secretary, Sub-Committee on Recruitment & Appointment, FCSC (2014 -2015).</p>
              <p>Member, Committee on Review of Extant Rules and Regulations, FCSC (2014-2015).</p>
              <p>Member, Team USA, Nigeria Foreign Service Promotion Exams Supervisors (2014).</p>
              <p>Member, Team India, Nigeria Foreign Service Promotion Exams Supervisors (2015).</p>
              <p>Member, Inter-Ministerial Committee on Appointment of Foreign Officers (2015).</p>
              <p>Member, Team of Rapporteurs at the Presidential Retreat with Hon. Ministers-Designate (Nov. 5, 2015).</p>
              <p>Member, Technical Committee on Group Life Insurance Scheme, OHCSF (2016).</p>
              <p>Member, Tripartite Committee of OHCSF, PENCOM and PTAD on Payment of Retired HOSs, PSs & Others (2016).
              </p>
              <p>Member, Inter-Ministerial Committee on Sustainable Development Goals (SDGs), Nigeria (2016).</p>
              <p>Member, Inter-Ministerial Committee Investigating ‘Padding’ of the 2016 Budget (2016).</p>
              <p>Member, Inter-Ministerial Committee on Restructuring of Aviation Agencies (2016, On-going).</p>
              <p>Member, Inter-Ministerial Committee on Assets/Liabilities Sharing of Min. of Transportation (2016).</p>
              <p>Member, Committee on OHCSF Strategy for MTSS (2016).</p>
              <p>Member-Secretary, Sector Planning Team, OHCSF (2016).</p>
              <p>Member National Economic Recovery Thematic Planning Group (2016).</p>
              <p>Member, Presidential Committee on the North-East Initiative (PCNI) (2017).</p>
              <p>Member, Inter-Ministerial Committee on Common-Wealth Heads of Govt. Meeting (CHOGM), London (2017-2018).
              </p>
              <p>Member Governing Council, Standard Organization of Nigeria (SON), (2018).</p>
              <p>Member, Governing Council, Federal School of Surveying, Oyo (2018).</p>
              <p>Member, ERGP Focus Lab on Transportation & Agriculture (2018).</p>
              <p>Member, National Economic Council, (2018), etc, etc.</p>
            </div>
          </div>
          <div class="accordion-header"><div class="accordion-icon">
                      <i class="accordion-closed icon-line-minus"></i>
                      <i class="accordion-open icon-line-check"></i>
                    </div>
            <div class="accordion-title">Previous Positions Held By <span> His Royal Highness </span></div>
          </div>
          <!-- accordion-->
          <div class="accordion mar-top">
            <a class="accordion-header" href="#">Some previous positions held</a>
            <div class="accordion-inner">
              <p>First employed as an Able Seaman on 1st January, 1989; and progressed through the ranks to Asst. Chf.
                Administrative Officer, Bayelsa State Local Government Service from SGLs 04-13 (1989-2002)</p>
              <hr>
              <p>Appointed Chairman, Tarakiri LGA, Bayelsa State (2000-2001).</p>
              <hr>
              <p>Transferred from the Unified Local Government Service as Asst. Chf. Administrative Officer on SGL 13 to
                the Bayelsa State House of Assembly Service Commission (2004); and progressed to Director (Administration)
                on SGL 17 and Ag. Secretary of the Bayelsa State House of Assembly Service Commission (2004 – 2013).</p>
              <hr>
              <p>Appointed Director-General, Bayelsa State Arts & Culture Bureau (2009-2012).</p>
              <hr>
              <p>Appointed Lecturer, Political Science Department, Federal University, Otuoke, Bayelsa State (2012).</p>
              <hr>
              <p>Appointed Consultant to Sagbama LG on Rural Development (2012).</p>
              <hr>
              <p>Co-Editor, International Journal of Social Science & Law on Policy Review and Development Strategies
                (2012).</p>
              <hr>
              <p>Co-Editor, International Journal of Advanced Research in social Engineering & Development Strategies
                (2013).</p>
              <hr>

            </div>

          </div>
          <div class="accordion-header"><div class="accordion-icon">
                      <i class="accordion-closed icon-line-minus"></i>
                      <i class="accordion-open icon-line-check"></i>
                    </div>
            <div class="accordion-title">Some Major Local/International Training/Conference Experiences <span> His Royal Highness </span></div>
          </div>
          <!-- accordion-->
          <div class="accordion mar-top">
            <a class="accordion-header" href="#">SOME MAJOR LOCAL/INTERNATIONAL TRAINING/CONFERENCE
              EXPERIENCES</a>
            <div class="accordion-inner">
              <p> Public Sector Services (MPSS), Organized by the Crown Agent Training Centre (UK), 2007.</p>
              <hr>
              <p>Analytical Review of Current Government Reforms & Issues Arising in Public/Private Sectors Financial
                Management, Organized by the Institute of Chartered Accountants of Nigeria, 2006.</p>
              <hr>
              <p>Essential Management Skills for World Class Performance, Organized by the Chartered Institute of
                Personnel Management, 2008.</p>
              <hr>
              <p>National/State Assembly Service Commissions Conferences (1st, 2nd& 3rd), Organized by the National
                Assembly Service Commission of Nigeria, 2005, 2006, 2008.</p>
              <hr>
              <p>New Pensions Scheme in Nigeria, Organized by the kha’ab Consultants (Manpower Developers), 2006.</p>
              <hr>
              <p>Principles of Procurement, Organized by the Trans-Atlantic College, UK, 2008.</p>
              <hr>
              <p>National Workshop on Reforming Government Services, Organized by The Administrative Staff College of
                Nigeria (ASCON), Topo, Badagry, October 27-29, 2008.</p>
              <hr>
              <p> 1st& 2nd International Conferences on the Nigerian State, Oil Industry and the Niger Delta, Organized by
                the Niger Delta University (NDU) & the University of Missourri-Kansas City USA, March 11-13, 2008, & March
                10-12, 2010, in Yenagoa.</p>
              <hr>
              <p>International Conference on Policy Review & Development Strategies: Addressing Challenges of Development
                Administration in Third World Countries, Organized by the University of Calabar, Calabar, May 10-11, 2012.
              </p>
              <hr>
              <p>International Research Conference on Sustainable Development on the Theme: “Rethinking Development
                Strategies in Third World Countries for Sustainability:Multi-Disciplinary Approach” at the University of
                Ibadan, November 8-9, 2012.</p>
              <hr>
              <p>Oracle Open-World Conference, Organized by Deloitte & Oracle in San Francisco, USA, September 28 –
                October 2, 2014.</p>
              <hr>
              <p>Capacity-Building Programme for e-government in Nigeria (Executive Course II), Organized by Fed. Min. of
                Communications and the Korea Int’l Cooperation Agency in PSIN – Abuja (Jan. 27-28, 2016).</p>
              <hr>
              <p>International Conference of Energy Ministers from APPA Member Countries, Organized by the Federal Min. of
                Petroleum Resources in Transcorp Hilton, Abuja (March 13-14, 2016).</p>
              <hr>
              <p>Conference of Nigeria-USA Bi-National Commission, Organized by the US Govt in Washington DC (April 27-30,
                2016).</p>
              <hr>
              <p>Strategic Planning and Effective Linkage to Budgeting Process, Organized by the Min. of Budget & National
                Planning in CMD, Lagos (September 4 – 6, 2016).</p>
              <hr>
              <p>25th CommonwealthHeads of Government Meeting (CHOGM) at London, United Kingdom (UK) (April 16 – 21,
                2018).</p>
              <hr>
              <p>10th China-Overseas Investment Fair (COIFAIR) & 2018 International Industrial Capacity Forum (IICCF),
                Beijing, China(August 2 – 7, 2018).</p>
              <hr>
              <p>UN Biodiversity Conference, Sharm El Sheikh, Egypt (November 17 – 29, 2018).</p>
              <hr>
              <p>14th Edition of CII Exim Bank Conclave on India-Africa Project Partnership, New Delhi (March 17 – 19,
                2019).</p>
              <hr>
              <p>China-Africa Economic and Trade Expo, Chansha, Hunan Province, China (June 27 – 29).</p>
              <hr>
              <p>74th United Nations General Assembly (UNGA), New York, USA (Sept. 24 -30, 2019).</p>

            </div>

          </div>
          <div class="accordion-header"><div class="accordion-icon">
                      <i class="accordion-closed icon-line-minus"></i>
                      <i class="accordion-open icon-line-check"></i>
                    </div>
            <div class="accordion-title">Professional Membership Of<span> His Royal Highness </span></div>
          </div>
          <!-- accordion-->
          <div class="accordion mar-top">
            <a class="accordion-header" href="#">PROFESSIONAL MEMBERSHIP</a>
            <div class="accordion-inner">
              <p>Fellow, Institute of Corporate Administration (fcai)</p>
              <p>Fellow, Certified Institute of Management, Nigeria (fcim)</p>
              <p>Fellow, Institute of Public Administration of Nigeria (fpan)</p>
              <p>Member, Chartered Institute of Personnel Management, Nigeria (mcipm)</p>
              <p>Member, International Political Science Association (mipsa)</p>
              <p>Member, International Institute for Policy Review & Development Strategies (miiprds).</p>
            </div>

          </div>
          <div class="accordion-header"><div class="accordion-icon">
                      <i class="accordion-closed icon-line-minus"></i>
                      <i class="accordion-open icon-line-check"></i>
                    </div>
            <div class="accordion-title">Awards And Disinctions</div>
          </div>
          <!-- accordion-->
          <div class="accordion mar-top">
            <a class="accordion-header" href="#">Honors</a>
            <div class="accordion-inner">
              <p>GRADE ‘A’ Ph.D in Political Science, University of Nigeria, Nsukka (2012).</p>
              <p>BEST MASTER’S THESIS, Political Science Department, DELSU (2005).</p>
              <p>BEST PERFORMED LOCAL GOVERNMENT CHAIRMAN in the Izon Nation (2001), By the Izon Patriotic League.</p>
              <p>BEST LABOUR-MANAGEMENT RELATIONS MANAGER (1997), By the Sagbama Local Government.</p>
              <p>AWARD OF EXCELLENCE in Recognition of Laudable Contributions to Rural Development, Youth Empowerment,
                Educational Development and Grassroots Mobilization (2007), By the Great Ministers Training Institute and
                Life Leadership University, California – USA.</p>
              <p>AWARD OF EXCELLENCE in Management and Administration (2009), By the African Media Public Award.</p>
              <p>AWARD OF EXCELLENCE as a Distinguished Administrator (2010), By the Institute of Corporate
                Administration, Nigeria.</p>
              <p>MERIT AWARD on Transparency and Accountability (2011), By the Chronicle Magazine at Merit House, Maitama
                – Abuja - Nigeria.</p>
              <p>AWARD OF EXCELLENCE as the Horseman Director-General (2010), By the National Union of Bayelsa State
                Students (NUBSS), University Of Ibadan.</p>
              <p>AWARD OF EXCELLENCE as the Most-Friendly Director-General to Nigerian Students (2011), By the Student
                Union Government, Delta State University, Warri Campus.</p>
              <p>AFRICA DEMOCRATIC AWARD as an Outstanding Leader and Democratic Developer of Africa (2011), By the Trust
                Magazine at Airport West Hotel, Accra – Ghana. </p>
              <p>AWARD OF EXCELLENCE PERFORMANCE in Recognition to Contributions to the Less Privilege in Society and
                Community Development in Nigeria (2011), By the Child’s Dream Organization at the Int’l Conference Centre,
                Abuja – Nigeria, and so on.</p>
              <p>AWARD OF ACHIEVER PER EXCELLENCE in recognition of wonderful contributions in service to humanity,
                undying passion for education, youth empowerment and the promotion of Nigerian Students, by the National
                Association of Nigerian Students (NANS, Zone A), 2014.</p>
              <p>AWARD OF EXCELLENCE for outstanding performance/service as NID SUG Father of the Year 2014/2015, by the
                Niger Delta Students Union Government, 2014.</p>
              <p> AWARD OF FACTFINDERS MOST OUTSTANDING AUTHOR of the Year, 2014, by the Factfinders Newspaper, Nigeria,
                2014.</p>
              <p>AWARD OF HUMAN CAPITAL DEVELOPMENT by the National Union of Bayelsa State Students (NUBSS Worldwide),
                2015.</p>

            </div>

          </div>
          <div class="accordion-header"><div class="accordion-icon">
                      <i class="accordion-closed icon-line-minus"></i>
                      <i class="accordion-open icon-line-check"></i>
                    </div>
            <div class="accordion-title">PUBLICATIONS (WORKS OF SCHOLARSHIP)</div>
          </div>
          <!-- accordion-->
          <div class="accordion mar-top">
            <a class="accordion-header" href="#">PUBLICATIONS (WORKS OF SCHOLARSHIP)</a>
            <div class="accordion-inner">
              <p>Eseduwo, F.S. (2008), “Petroleum Prospecting, State Violence and Hostage-Taking inNigeria: A Study of the
                Niger Delta Region”, In Proceedings of the 1ST International Conference on the Nigerian State, Oil
                Industry and the Niger Delta. Port Harcourt: Harvey Publications. ISBN: 978-078-435-7, pp.483-507 (Journal
                Article).</p>
              <hr>
              <p>Eseduwo and Peter (2009), “Dismantling the Leviathan: Party Hegemony, the Future
                of Multi-Party Democracy and the Challenges for Political Development in Nigeria”, In the Journal of Arts
                and Strategy Studies, Vol. 2, No.1, pp.60-70, Port Harcourt: Rosefet Academic Publications, (Journal
                Article).</p>
              <hr>
              <p>Eseduwo, F.S. (2010), “Politics of Gas Flaring, Global EnvironmentalProtocols and
                Sustainable Development in Nigeria”, In the International Journal of Environment & Sustainable
                Development, Vol. 3, No. 1, pp.55-80, (Journal Article).</p>
              <hr>
              <p>Eseduwo, F.S. (2012), “Development Administration and Gas Reinjection Policy-Making in Nigeria”, In the
                International Journal of Social Science & Law on Policy Review and Development Strategies, Vol. 2, No. 2.
                September, pp.32-55, ISBN: 2315-6627 (Journal Article).</p>
              <hr>
              <p>Eseduwo, F.S. (2013), “Revolutionary Politics and Development in PrismaticSocieties: A Critique of the
                Boko Haram Crisis in Nigeria”, In the International Journal of Advanced Research in social Engineering &
                Development Strategies, Vol. 1, No.1, February, pp.74-89, ISBN: 2315 -8379 (Journal Article).</p>
              <hr>
              <p>Eseduwo, F.S. (2013), “Political Economy of Gas Flaring and Sustainable
                Development in Nigeria”, In the International Journal of Social Science & Law on Policy Review &
                Development Strategies, Vol. 3, No.2, February, pp.72-92, ISBN: 2315-8387 (Journal Article).</p>
              <hr>
              <p> Eseduwo, F.S. (2010), Citizen Participation and Legitimacy Crisis in Nigeria(2010),
                Nsukka: UNN Press, ISBN:978-978-49804-4-9, 123 pages, (Peer-Reviewed Book).</p>
              <hr>
              <p>Eseduwo, F.S. (2010a), State-Local Government Relations and RuralDevelopment
                inNigeria (2010b), Nsukka: Press, ISBN:978-978-49804-7-0, 126 pages, (Peer-Reviewed Book).</p>
              <hr>
              <p>Eseduwo, F.S. (2013), “Employee Motivation and Productivity in NigerianLocal
                Government Service” In the Journal of Faculty of Social and Management Sciences, Kaduna State University,
                Kaduna-Nigeria, Vol. 5, No.1, pp.58-90, ISSN: 2006-9065 (Journal Article).</p>
              <hr>
              <p>Eseduwo, F.S. (2013), “Indigenous Technologies and SustainableDevelopment
                inAfrica: Assessing Home-grown and Western Technologies in South-South Nigeria”, In the International
                Access Journal Series, Vol.3 No.2, pp. 51-72(Journal Article).</p>
              <hr>
              <p>Eseduwo and Arugu (2013), “Gas Flaring and Regulatory Policy-Making in Oil Producing Countries: A
                Comparative Analysis of Gas Reinjection Policies in Nigeria, Norway and Britain”, In the International
                Journal of Sustainable Development Strategies, Vol.1 No.1, pp. 103-126(Journal Article).</p>
              <p>Eseduwo, F.S. (2013), “Techno Patronage and Industrialization Imperatives
                inDeveloping Countries: Examining Indigenous Technology Stimulation in Nigeria”.In the International
                Journal Advanced Research in Statistics, Management & Finance, Vol. 1, No. 2, pp.37-52, ISSN: 2315-8409
                (Journal Article).</p>
              <hr>
              <p>Eseduwo, F.S. (2013), “Behaviouralism and Neo-Behaviouralism:
                InterrogatingResearch Works of Progressing Social Scientists in Nigeria”, In the International Journal of
                Advanced Research in Public Policy, Administration & Development Strategies, Vol.1, No.2, 59-73, ISSN:
                2315-8359 (Journal Article)</p>
              <hr>
              <p>Eseduwo and Arugu (2014), “Poverty and Sustainable Development inBayelsa State:
                A Survey of Selected Communities in Southern-Ijaw Local Government Area of Bayelsa State”, In the
                International Journal of Advanced Studies in Ecology, Development and Sustainability, Vol.2, No.1,
                pp.81-89, ISSN: 2354-4252 (Journal Article).</p>
              <hr>
              <p> Eseduwo, F.S. (2014), “Policy-Making and National Development in Nigeria:
                Examining Experts’ Involvement in Policy Regimes”, In the InternationalJournal of Development Strategies
                in Humanities, Management and Social Sciences, Vol.4, No.2, pp.216-238(Journal Article).</p>
              <hr>
              <p>Eseduwo, F.S. (2014), “Home-Grown Technologies and Sustainable
                Development in Africa: A Diachronic Analysis of Contending Technologies
                in South-South Nigeria”, In the InternationalJournal of Entrepreneurial
                Development, Education and Science Research, Vol.2, No.1, pp.121-144
                (Journal Article).</p>
              <hr>
              <p>Eseduwo, F.S. (2014), Gas Flaring and Reinjection Policy-Making in Nigeria:
                Why Gas Reinjection Policies Work in other Oil-Producing Countries and Fail
                InNigeria, Germany: Lambert Academic Publishing, ISBN: 978-3-659-53296-2,
                563 pages, (Peer-Reviewed Book).</p>
              <hr>
              <p>Eseduwo, F.S. & Kalama, J.T. (2015), The United Nations’ Roles in
                International Relations: Theory and Practice of Collective Security in a Dynamic World System: Calabar:
                University of Calabar Press, ISBN:978-007-228-4,(180-page book).</p>
              </p>
            </div>

          </div>
          <div class="accordion-header"><div class="accordion-icon">
                      <i class="accordion-closed icon-line-minus"></i>
                      <i class="accordion-open icon-line-check"></i>
                    </div>
            <div class="accordion-title">Hobbies Of<span> His Royal Highness</span></div>
          </div>
          <div class="accordion mar-top">
            <a class="accordion-header" href="#">Hobbies</a>
            <div class="accordion-inner">
              <p>Reading</p>
              <p>Swimming</p>
              <p>Watching Good Movies.</p<hr>

            </div>
          </div>
        </div>
      </div>
      <!--Main Data section-->

    </section>
  </div>
</main>
{% endblock content %}
