{% load static i18n %}

<!-- Footer
		============================================= -->
<footer id="footer">

  <!-- Copyrights
			============================================= -->
  <div id="copyrights">
    <div class="container">

      <div class="row align-items-center justify-content-between col-mb-30">
        <div class="col-lg-auto text-center text-lg-left">
          Copyrights &copy; 2018 All Rights Reserved by Canvas Inc.<br>
          <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
        </div>

        <div class="col-lg-auto text-center text-lg-left">
          <div class="copyrights-menu copyright-links m-0">
            <a href="#">Home</a>/<a href="#">About</a>/<a href="#">Features</a>/<a href="#">Portfolio</a>/<a
              href="#">FAQs</a>/<a href="#">Contact</a>
          </div>
        </div>
      </div>

    </div>
  </div><!-- #copyrights end -->
</footer><!-- #footer end -->