{% load static i18n %}

<div class="section mt-3" style="background: #FFF url('{% static "images/others/section-bg.jpg" %}') no-repeat center center / cover; padding: 80px 0;">
  <div class="container clearfix">
    <div class="row justify-content-center">
      <div class="col-md-9 center">
        <div class="heading-block border-bottom-0 mb-4">
          <h2 class="mb-4 nott">{% trans 'Brief History of Angalabiri' %}</h2>
        </div>
        <div class="svg-line bottommargin-sm">
          <img src="{% static 'images/divider-1.svg' %}" alt="svg divider" height="20">
        </div>
        <h3>
          Founded before the year<br>1815 AD <span> by AKOU </span> the son of Angalabiriowei and the grandson of
          Tarakiriowei.
        </h3>
        <p>
          Angalabiri has a traditional stool of <strong>Amananaowei (Paramount Ruler)</strong> which is duly recognized
          by the <strong>Bayelsa State Government</strong> and documented in the Gazette as a Second Class Stool. The
          Amananaowei is greeted as: <i><strong>"AKOU!, AKOU!!, AKOU!!!, Datimi Ondu"</strong></i> (Long live the
          Paramount Ruler).
        </p>

        <!-- features-box-container end  -->
        <a href="{% url 'about' %}" class="btn btn-dark float-btn flat-btn color-btn">Read More</a>

      </div>
    </div>
  </div>
</div>
