{% load static %}

<div class="section bg-transparent mt-0 mb-4">
  <div class="container clearfix">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 center">
        <div class="heading-block border-bottom-0 mb-4">
          <h2 class="mb-4 nott">Council of Chiefs</h2>
        </div>
        <div class="svg-line bottommargin-sm clearfix">
          <img src="{% static 'images/divider-1.svg' %}" alt="svg divider" height="20">
        </div>
        <p>
          These are Members of the Traditional Council of Chiefs who has been of great help to the <strong>Amananaowei</strong> (King).
        </p>
      </div>
    </div>
    <div class="row justify-content-around">
      <div class="col-lg-2 col-md-4 col-6">
        <div class="team overflow-hidden">
          <div class="team-image">
            <img src="{% static 'images/angalabiri/cheifs/chief-anthony.jpeg' %}" alt="Chief Anthony">
          </div>
          <div class="team-desc">
            <h4 class="team-title pt-3 mb-0 font-weight-medium nott">Mr. Anthony<small>Chief</small></h4>
          </div>
        </div>
        <div class="team mt-5">
          <div class="team-image">
            <img src="{% static 'images/angalabiri/cheifs/chief-brayekedou.jpeg' %}" alt="Chief Brayekedou">
          </div>
          <div class="team-desc">
            <h4 class="team-title pt-3 mb-0 font-weight-medium nott">Brayekedou<small>Chief</small></h4>
          </div>
        </div>
        <div class="team mt-5">
          <div class="team-image">
            <img src="{% static 'images/angalabiri/cheifs/Chief-Epigha-Femone-(Funge-owei).jpg' %}" alt="Epigha Femone">
          </div>
          <div class="team-desc">
            <h4 class="team-title pt-3 mb-0 font-weight-medium nott">Epigha Femone<small>(Funge-owei)</small></h4>
          </div>
        </div>
        <div class="team mt-5">
          <div class="team-image">
            <img src="{% static 'images/angalabiri/cheifs/Chief-(Capt)-Anthony-Boye-(Eyiatudou-owei).jpg' %}" alt="Capt) Anthony Boye">
          </div>
          <div class="team-desc">
            <h4 class="team-title pt-3 mb-0 font-weight-medium nott">Capt) Anthony Boye<small>(Eyiatudou-owei)</small></h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-6 mt-4">
        <div class="team">
          <div class="team-image">
            <img src="{% static 'images/angalabiri/cheifs/chief-ebiakpo-coleman.jpeg' %}" alt="Ebiakpo Coleman">
          </div>
          <div class="team-desc">
            <h4 class="team-title pt-3 mb-0 font-weight-medium nott">Ebiakpo Coleman<small>Chief</small></h4>
          </div>
        </div>
        <div class="team mt-5">
          <div class="team-image">
            <img src="{% static 'images/angalabiri/cheifs/chief-ebigbabofa.jpeg' %}" alt="Ebigbabofa">
          </div>
          <div class="team-desc">
            <h4 class="team-title pt-3 mb-0 font-weight-medium nott">Ebigbabofa<small>Chief</small></h4>
          </div>
        </div>
        <div class="team mt-5">
          <div class="team-image">
            <img src="{% static 'images/angalabiri/cheifs/Chief-Samuel-K.-Boubai-(Amaebidou-owei).jpg' %}" alt="Ebigbabofa">
          </div>
          <div class="team-desc">
            <h4 class="team-title pt-3 mb-0 font-weight-medium nott">Samuel-K. Boubai<small>(Amaebidou-owei)</small></h4>
          </div>
        </div>
        <div class="team mt-5">
          <div class="team-image">
            <img src="{% static 'images/angalabiri/cheifs/Chief-Solomon-Kiriareye-(Epile-owei).jpg' %}" alt="Anthony Cockson">
          </div>
          <div class="team-desc">
            <h4 class="team-title pt-3 mb-0 font-weight-medium nott">Anthony Cockson<small>(Teibenemo-owei)</small></h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <div class="team">
          <div class="team-image">
            <img src="{% static 'images/angalabiri/cheifs/chief-kemebiye.jpeg' %}" alt="Kemebiye">
          </div>
          <div class="team-desc">
            <h4 class="team-title pt-3 mb-0 font-weight-medium nott">Mr. Kemebiye<small>Chief</small></h4>
          </div>
        </div>
        <div class="team mt-5">
          <div class="team-image">
            <img src="{% static 'images/angalabiri/cheifs/chief_smith_adesefuobo_(peregboluowei-deputy-amananaowei).jpg' %}" alt="Smith Adesefuobo">
          </div>
          <div class="team-desc">
            <h4 class="team-title pt-3 mb-0 font-weight-medium nott">Smith Adesefuobo <small>Deputy Amananaowei</small></h4>
          </div>
        </div>
        <div class="team mt-5">
          <div class="team-image">
            <img src="{% static 'images/angalabiri/cheifs/Chief-Solomon-Zitare-(Tunteri-owei).jpg' %}" alt="Smith Adesefuobo">
          </div>
          <div class="team-desc">
            <h4 class="team-title pt-3 mb-0 font-weight-medium nott">Solomon Zitare<small>(Tunteri-owei)</small></h4>
          </div>
        </div>
        <div class="team mt-5">
          <div class="team-image">
            <img src="{% static 'images/angalabiri/cheifs/Chief_Pius_Bob_(Ekpekpegbele-owei).jpg' %}" alt="Pius Bob">
          </div>
          <div class="team-desc">
            <h4 class="team-title pt-3 mb-0 font-weight-medium nott">Pius Bob<small>(Ekpekpegbele-owei)</small></h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-6 mt-5">
        <div class="team">
          <div class="team-image">
            <img src="{% static 'images/angalabiri/cheifs/8cd3f84b-8a49-4533-a298-f6d3ad8bafa2.jpg' %}" alt="Ebiakpo Coleman">
          </div>
          <div class="team-desc">
            <h4 class="team-title pt-3 mb-0 font-weight-medium nott">Ebiakpo Coleman<small>(Teibenemo-ere)</small></h4>
          </div>
        </div>
        <div class="team mt-5">
          <div class="team-image">
            <img src="{% static 'images/angalabiri/cheifs/2nd.jpg' %}" alt="Zacheaus Suofade Godfrey">
          </div>
          <div class="team-desc">
            <h4 class="team-title pt-3 mb-0 font-weight-medium nott">Zacheaus Suofade Godfrey<small>(Alagbatein-Owei)</small></h4>
          </div>
        </div>
        <div class="team mt-5">
          <div class="team-image">
            <img src="{% static 'images/angalabiri/cheifs/Chief-Tokekeme-Egenibobai-(Arusai-owei).jpg' %}" alt="Tokekeme Egenibobai">
          </div>
          <div class="team-desc">
            <h4 class="team-title pt-3 mb-0 font-weight-medium nott">Tokekeme Egenibobai<small>(Arusai-owei)</small></h4>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-6 mt-1">
        <div class="team">
          <div class="team-image">
            <img src="{% static 'images/angalabiri/cheifs/Chief-Kwekwe-ere-Ebizimor-(Siboudi-ere).jpeg' %}" alt="Kwekwe-ere Ebizimor">
          </div>
          <div class="team-desc">
            <h4 class="team-title pt-3 mb-0 font-weight-medium nott">Kwekwe-ere Ebizimor<small>(Siboudi-ere)</small></h4>
          </div>
        </div>
        <div class="team mt-5">
          <div class="team-image">
            <img src="{% static 'images/angalabiri/cheifs/Chief-Amos-A.-Agononama-(Amabenimo-owei).jpg' %}" alt="Amos A. Agononama">
          </div>
          <div class="team-desc">
            <h4 class="team-title pt-3 mb-0 font-weight-medium nott">Amos A. Agononama<small>(Amabenimo-owei)</small></h4>
          </div>
        </div>
        {% if request.user.is_authenticated and request.user.superuser %}
        <div class="team full-border imagescalein mt-5">
          <a href="#" class="team-image">
            <img src="{% static 'images/10.jpg' %}" alt="Apply Chief" class="rounded-0">
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
