{% load i18n static %}

<div class="clear"></div>

<div class="container-fluid my-5 clearfix">
  <div class="d-flex flex-column align-items-center justify-content-center center counter-section position-relative py-5" style="background: url('{% static "images/world-map.png" %}') no-repeat center center/ contain">
    <div class="mx-auto center" style="max-width: 1000px">
      <h3>Interesting Facts</h3>
      <p>This is a real time updated information about the population of our Indigenes, our resources and gender figure. </p>
    </div>

    <div class="row align-items-stretch m-0 w-100 clearfix">

      <div class="col-lg-3 col-sm-6 center mt-5">
        <div class="counter font-secondary"><span data-from="100" data-to="{{all_citizens}}" data-refresh-interval="50" data-speed="2100" data-comma="true"></span>+</div>
        <h5 class="nott ls0 mt-0"><u>Citizens</u></h5>
      </div>

      <div class="col-lg-3 col-sm-6 center mt-5">
        <div class="counter font-secondary"><span data-from="100" data-to="{{all_males}}" data-refresh-interval="50" data-speed="2200" data-comma="true"></span>+</div>
        <h5 class="nott ls0 mt-0"><u>Men</u></h5>
      </div>

      <div class="col-lg-3 col-sm-6 center mt-5">
        <div class="counter font-secondary"><span data-from="100" data-to="{{all_females}}" data-refresh-interval="25" data-speed="2300" data-comma="true"></span>+</div>
        <h5 class="nott ls0 mt-0"><u>Women</u></h5>
      </div>

      <div class="col-lg-3 col-sm-6 center mt-5">
        <div class="counter font-secondary"><span data-from="150" data-to="{{all_chiefs}}" data-refresh-interval="50" data-speed="2100" data-comma="true"></span>+</div>
        <h5 class="nott ls0 mt-0"><u>Chiefs</u></h5>
      </div>

    </div>
  </div>
</div>
