{% load static i18n %}

<!-- Footer
		============================================= -->
<footer id="footer" style="background-color: #002D40;">

  <div class="container">

    <!-- Footer Widgets
				============================================= -->
    <div class="footer-widgets-wrap dark clearfix"
      style="background: radial-gradient(rgba(0,45,64,.5), rgba(0,45,64,.1), rgba(0,45,64,.5)), url('{% static "images/others/footer.jpg" %}') repeat center center / cover;  padding: 150px 0">
      <div class="mx-auto center" style="max-width: 700px;">
        <h2 class="display-2 font-weight-bold text-white mb-0 ls1 font-secondary mb-4"><i
            class="icon-heart d-block mb-3"></i>{% trans 'Support the cause' %} &amp; {% trans 'Save lives.' %}</h2>
        <a href="demo-nonprofit-causes-single.html"
          class="button button-rounded button-xlarge button-white bg-white button-light text-dark shadow nott ls0 ml-0 mt-5">{% trans 'Donate Now' %}</a>
      </div>
    </div>

  </div>

  <!-- Copyrights
			============================================= -->
  <div id="copyrights" class="bg-color">

    <div class="container clearfix">

      <div class="row justify-content-between align-items-center">
        <div class="col-md-6">
          Copyrights &copy; 2021 All Rights Reserved by Ebiabgala Federated Community.<br>
          <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
        </div>

        <div class="col-md-6 d-md-flex flex-md-column align-items-md-end mt-4 mt-md-0">
          <div class="copyrights-menu copyright-links clearfix">
            <a href="#">About</a>/<a href="#">Features</a>/<a href="#">FAQs</a>/<a href="#">Contact</a>
          </div>
        </div>
      </div>

    </div>

  </div><!-- #copyrights end -->

</footer><!-- #footer end -->
