{% load static compress %}

{% compress js inline %}
<script src="{% static 'js/jquery.js' %}"></script>
<script defer src="{% static 'js/plugins.min.js' %}"></script>
<script src="{% static 'js/project.js' %}"></script>


<!-- Footer Scripts
============================================= -->
<script src="{% static 'js/functions.js' %}"></script>
<!-- Django Secure AJAX JS -->
<script src='{% static "js/ecommerce/csrf.ajax.js" %}'></script>

<!-- eCommerce Sales Data JS -->
<script src='{% static "js/ecommerce/ecommerce.sales.js" %}'></script>

<!-- eCommerce Custom JS -->
<script src='{% static "js/ecommerce/ecommerce.js" %}'></script>

<!-- eCommerce Main JS -->
<script src='{% static "js/ecommerce/ecommerce.main.js" %}'></script>


{% endcompress %}
