		<!-- Footer
		============================================= -->
		<footer id="footer" class="border-0 dark">

			<div class="container clearfix">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix"  style="padding: 60px 0 100px;">

					<div class="row">
						<div class="col-lg-6 col-md-6">

							<div class="row clearfix">
								<div class="col-lg-6">
									<div class="widget widget_links widget-li-noicon">
										<h4>Hire</h4>
										<ul>
											<li><a href="#">Artisans</a></li>
											<li><a href="#">Professionals</a></li>
										</ul>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="widget widget_links widget-li-noicon">
										<h4>Community</h4>
										<ul>
											<li><a href="#">Documentation</a></li>
											<li><a href="#">Feedback</a></li>
										</ul>
									</div>
								</div>
							</div>

							<div class="clear"></div>

							<div class="line line-sm"></div>

							<div class="copy-link"><a href="mailto:info@ebiangala.ng"><i class="icon-envelope2"></i>  info@ebiangala.ng</a> <span class="middot"> | </span> <a href="tel:+234 9054 16369"><i class="icon-headphones"></i> +234-9054-16369</a> <span class="middot"> | </span> <a href="skype:ebiangala?call"><i class="icon-skype2"></i> ebiangala</a></div>

						</div>

						<div class="col-lg-5 offset-lg-1">

							<div class="widget">
								<h4>Connect Socially</h4>

								<div class="bottommargin-sm clearfix">
									<a href="#" class="social-icon si-dark si-mini si-rounded si-facebook" title="Facebook">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>

									<a href="#" class="social-icon si-dark si-mini si-rounded si-twitter" title="Twitter">
										<i class="icon-twitter"></i>
										<i class="icon-twitter"></i>
									</a>

									<a href="#" class="social-icon si-dark si-mini si-rounded si-instagram" title="Instagram">
										<i class="icon-instagram"></i>
										<i class="icon-instagram"></i>
									</a>

									<a href="#" class="social-icon si-dark si-mini si-rounded si-pinterest" title="Pinterest">
										<i class="icon-pinterest"></i>
										<i class="icon-pinterest"></i>
									</a>

									<a href="#" class="social-icon si-dark si-mini si-rounded si-vimeo" title="Vimeo">
										<i class="icon-vimeo"></i>
										<i class="icon-vimeo"></i>
									</a>
								</div>
							</div>

							<div class="widget subscribe-widget mt-0 clearfix">
								<h5><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</h5>
								<div class="widget-subscribe-form-result"></div>
								<form id="widget-subscribe-form" action="include/subscribe.php" method="post" class="mb-0">
									<div class="input-group input-group-lg mx-auto">
										<input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
										<div class="input-group-append">
											<button class="button button-black font-weight-light button-dark ls2 text-uppercase" type="submit">Subscribe</button>
										</div>
									</div>
								</form>
							</div>

						</div>
					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

		</footer><!-- #footer end -->
